@import "../global.scss";

.custom_container {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding: 30px 40px;
    border-radius: 20px;
    margin: 20px 40px;
    // background-color: orange;
}